.programs {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px auto;

  border: 1px solid yellow;
}

.programImages img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
.programImages {
  flex-basis: 31%;
  /* flex: 1; */
  position: relative;
}

.caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 10px;
  background: rgb(0, 15, 152, 0.3);
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-weight: normal;
  cursor: pointer;
}

.caption img {
  width: 60px;
  margin-bottom: 10px;
}
