.footer {
  display: flex;
  flex-direction: column;
  margin: 5% 3%;
  font-size: 4rem;
  font-weight: 400;
  color: darkslategray;
}
.footer > hr {
  width: 100%;
}

.footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .footer-content .footer-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 750px) {
  .footer-content {
    display: flex;
    flex-direction: column;
  }
  .footer-right {
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
  }
  .footer span {
    font-size: small;
  }
  .footer .footer-content .footer-right {
    gap: 0.3rem;
  }
  .footer > hr {
    margin-bottom: 0.3rem;
  }
}
